.row {
    width: 100%;
    --bs-gutter-x: 0rem;
    
}
.card{
    margin: 20px;
}
#contenido{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.image-container {
    max-width: 100%;
    height: 100px; 
    overflow: hidden; 
    display: flex;
    justify-content: center;
}

.card-img-top {
    width: auto;
    height: 100%; 
}

a{  
    font-size: 12px;
    margin-left: 5px;
    color: rgb(249, 197, 15);
    text-decoration: none;
}
a:hover{
    color:rgb(249, 197, 15);
    text-decoration: none;
}

.nav_buttons{
    display: flex;
    justify-content: center;
    bottom:0;
}
button{
    margin: 5px;
}
.purchase_botton{
    display: flex;
    justify-content: flex-end;
    align-self: end;
}

.user_data{
    margin-top: 5px;
    background-color: rgb(40, 40, 40);
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 25px;
}

.user_logged_right{
    color: white;
    margin-right: 5px;
}

.user_logged_left{
    color: white;
    margin-left: 5px;
}

.go_to_cart{
    z-index: 100;
    height: 25px;
    position: fixed;
    top: 0px;
    right: 10px;
}

.admin_products{
    z-index: 100;
    height: 25px;
    position: fixed;
    top: 0px;
    right: 165px;
}

.adm_users{
    z-index: 100;
    height: 25px;
    position: fixed;
    top: 0px;
    right: 10px;
}

.go_to_chat_premium{
    z-index: 100;
    height: 25px;
    position: fixed;
    top: 0px;
    right: 386px;
}

.go_to_chat{
    z-index: 100;
    height: 25px;
    position: fixed;
    top: 0px;
    right: 150px;
}


footer{
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(40, 40, 40);
}