.row {
    width: 100%;
    display: flex;
    justify-content: center;

}
.nav_buttons{
    display: flex;
    justify-content: center;
    bottom:0;
}
.go_back{
    z-index: 100;
    height: 25px;
    position: fixed;
    top: 4px;
    right: 10px;
}

.email_position {
    color: white;
    margin-top: 15px;
    margin-left: 0px;
    z-index: 100;
}

.card {
    margin: 20px;
}

#contenido {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.formulario_add {
    max-width: 500px;
}

.formulario_del {
    max-width: 500px;
    ;
}

.form-group {
    color: white;
}

h2 {
    color: white;
}

.image-container {
    max-width: 100%;
    height: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.card-img-top {
    width: auto;
    height: 100%;
}