<div class="login_form">
    <div class="border_form">
        <form id="log_in_form" action="http://localhost:8080/api/passreset/{{rid}}" method="post">
            <h1 class="h3 mb-3 fw-normal">Cambiar contraseña</h1>
            <div class="form-floating">
                <input type="password" name="password" class="form-control" placeholder="Ingrese nuevo password">
                <label for="floatingPassword">Nuevo password</label>
            </div>
            <div class="div_line">
            </div>
            <button class="btn btn-primary btn-warning w-100 py-2" type="submit">
                Aceptar</button>
            <p class="mt-5 mb-3 text-body-secondary">&copy; Pablo Galeano - CoderHouse - 2023</p>
        </form>
        </main>
    </div>
</div>




<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
