<div>
    <div class="go_to_home">
        <a href="/products"><button type="button" class="btn btn-warning">Seguir Comprando</button></a>
    </div>
    <h1>MongoDB Chat - Coderhouse</h1>
    <input id="textbox" type="text" placeholder="Escribe tu mensaje aquí">
    <div id="contenidoMensajes" class="contenedorChat"></div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/static/js/chat.js"></script>