<div class="nav_buttons">
    <div class="go_back">
        <a href="/products"><button type="button" class="btn btn-warning">Volver</button></a>
    </div>
</div>
<div class="email_position">
    <h6>
        {{email}}
    </h6>
</div>

<div class="formulario_add">
    <form id="add_product" method="">
        <h2>Agregar Producto</h2>
        <div class="form-group">
            <label for="exampleInputEmail1">Título</label>
            <input type="text" class="form-control" name="title" placeholder="Título">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Precio en U$D</label>
            <input type="number" step="0.01" class="form-control" name="price" placeholder="Precio">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Código</label>
            <input type="text" class="form-control" name="code" placeholder="Código">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Categoría</label>
            <input type="test" class="form-control" name="category" placeholder="Categoría">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Stock</label>
            <input type="number" class="form-control" name="stock" placeholder="Stock">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Descripción</label>
            <textarea class="form-control" name="description" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Thumbnail</label>
            <input type="file" class="form-control" name="file" placeholder="Thumbnail path">
        </div>
        <button type="submit" value="submit" class="btn btn-primary">Agregar</button>
    </form>
</div>
<div class="formulario_del">
    <h2>ID del producto a eliminar</h2>
    <form id="del_product" method="">
        <div class="form-group">
            <label for="numberinput">ID</label>
            <input type="text" min=0 class="form-control" name="id" placeholder="Id del producto a eliminar">
        </div>
        <button type="submit" class="btn btn-primary">Eliminar</button>
    </form>
</div>



<div id="contenido">

</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/realTimeProducts.js"></script>