<div>
    <h1>El tiempo para cambiar la contraseña a expirado</h1>
    <h3>Por favor, vuelve a reenviar el mail, recuerda que tienes 1 hora para cambiarla </h3>
    <a href="http://localhost:8080/login">volver a Login</a>
</div>